/* Gradient text */
.gradient_text {
    font-family: 'Montserrat';
    background: -webkit-linear-gradient(60deg, var(--gradient_pink), var(--gradient_blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Button */
.button {
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 1em;
    text-align: center;
    height: fit-content;
    padding: 0.5em 1.7em;
    font-size: var(--button_text);
    transition: 0.5s;
}
#gradient_button {
    background-image: linear-gradient(to right, var(--gradient_pink) 0%, var(--gradient_blue) 50%, var(--gradient_purple) 100%);
    color: var(--white);
    font-weight: 700;    
    background-size: 200% auto; /*allow for animation*/
}
#gradient_button:hover {
    background-position: right center;
}
#bw_button {
    background-color: var(--white);
    box-shadow:0px 0px 0px 2px black inset; /*border*/
    color: var(--black);
    font-weight: 500;
} 
#bw_button:hover {
    background-color: var(--black);
    color: var(--white);
}

/* Arrow */
.arrow {
	width: 3vmin;
	height: 3vmin;
	box-sizing: border-box;
	position: relative;
    transform: rotate(135deg);

    animation-name: arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.arrow::before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: .5vmin .5vmin 0 0;
    border-style: solid;
    border-color: #111;
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
}
.arrow:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 .5vmin 0 0;
    border-style: solid;
    border-color: #111;
    transform-origin: 100% 0;
    transition:.2s ease;
}
.arrow:hover::after {
    /* transform: rotate(45deg) translate(-0.13vmin, 0px); */
    border-color: var(--accent_arrow);
    /* height: 115%; */
}
.arrow:hover::before {
    border-color: var(--accent_arrow);
    /* transform: scale(.9); */
}
@keyframes arrow {
    0% { transform: translate(0,  0px) rotate(135deg); }
    50%  { transform: translate(0, 12px) rotate(135deg); }
    100%   { transform: translate(0, -0px) rotate(135deg); }   
}