.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    padding-bottom: 15rem;
}
#contact_title {
    font-size: var(--section_title);
    display: inline-block; /*fix gradient*/
}
.contact_text {
    text-align: center;
    font-size: var(--contact_text);
}
.contact_socialbar {
    display: flex;
    flex-direction: row;
}
.contact_socialbar a {
    color: var(--black);
    font-size: var(--contact_socialbar);
    margin: 5px;
}