
/* HOME */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35vh;
    padding-top: 7%;
}
#home_title {
    text-align: center;
    padding-top: 12%;
    font-size: var(--home_title);
    margin: 0%;
}
#home_subtitle {
    padding-top: clamp(5px, 1%, 200px);
    padding-bottom: clamp(5px, 2%, 200px);
    font-size: var(--body_text);
    letter-spacing: 0.05em;
    margin: 0%;
}

/* ABOUT */
.about {
    padding-top: 3%;
    margin-bottom: 10%;
}
#about_title {
    margin-left: var(--marginleft_about);
    margin-bottom: clamp(0.5em, 2%, 100px);
    font-size: var(--section_title);
}
.about_image_socials {
    grid-area: imagesocials;
}
.about_aboutme {
    grid-area: aboutme;
}
.about_line {
    grid-area: gline;
    transform: translate(0, 12%);
    width: 0px;
    height: 70%;
    border: 0.7px solid var(--black);
    margin-left: 50%; /*center line*/
}
.about_experiences {
    grid-area: experiences;
}
.about_skills {
    grid-area: skills;
}
.about_buttons {
    grid-area: buttons;
    display: flex;
    margin-top: 7%;
}
.about_container {
    height: 60vh;
    margin: 0 var(--marginright_about) 10% var(--marginleft_about);  /*top right bottom left*/
    display: grid;
    grid-template-columns: 0.4fr 0.15fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "imagesocials gline aboutme"
      "imagesocials gline experiences"
      "imagesocials gline skills"
      "imagesocials gline buttons";
}

/* About general text formatting */
.about_container h2 {
    margin-bottom: 0px;
}
.about_container p {
    margin: 0px;
    line-height: 1.5rem;
}

/*About Images*/
.about_image img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
#about_ariel_title {
    font-size: var(--about_ariel_title);
    letter-spacing: 0.013em;
}

/* About social bar */
.about_socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 0%;
}
.about_socialbar a {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}
.about_socials_email a {
    margin-top: 0;
}
.about_socialbar p {
    margin-left: 0.8em;
    text-decoration: underline;
}
/* About experiences */
.about_experiences h4 {
    padding-top: 10px;
    margin: 0;
}

/* About Skilltags */
.about_skilltags {
    display: flex;
    margin-top: 1%;
    flex-wrap: wrap;
    width: 50%;
}
#about_skilltag {
    flex: 1;
    flex-grow: 0;
    border-radius: 20px;
    margin-right: 1em;
    margin-top: 0.6em;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 0.3em 1em;
    font-size: var(--about_skilltag);
    background-color: var(--lightgrey);
    color: var(--black);
}
#about_skilltag:hover {
    background-color: var(--grey);
}

@media screen and (min-width: 1550px) { /*greater than 1149 wide screen*/
    .about {
        margin: 0 11% 0% 11%;
    }
    #home_title {
        font-size: 4.5vw;
    }
}

/* @media screen and (min-device-width: 1190px) and (max-device-width: 1200px) {
} */

@media screen and (max-width: 1189px) { /*less than 1190*/
    /* Make image and socials into side by side */
    .about_image_socials {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .about_socials {
        margin-left: 3em;
    }
    /* Change to column style */
    .about_container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    /* image */
    .about_image {
        width: 30vw;
    }
    .about_image img {
        height: 100%;
        width: 100%;
    }
    .about_skilltags {
        width: 100%;
    }
}

@media screen and (max-width: 734px) { /*phone mode*/
    .home {
        height: auto;
    }
    .about {
        height: auto;
        padding-bottom: 6%;
    }
    .about_skilltags {
        width: 100%;
    }
    .about_image_socials {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .about_socials {
        margin-left: 0em;
        margin-bottom: 1em;
    }
    .about_image {
        width: 30vw;
    }
    .about_image img {
        height: 100%;
        width: 100%;
    }
    #about_ariel_title {
        font-size: var(--section_subtitle);
        letter-spacing: 0.013em;
    }
    .about_buttons .button {
        font-size: var(--about_skilltag);
    }
    #about_title {
        font-size: 7vw;
    }
}