.portfolio {  /*align self center*/
    background-color: var(--bg_grey);
    width: 100%;
    padding-bottom: 10%;
    padding-top: clamp(2em, 6%, 600px);
    align-self: center;
    padding-left: var(--padding_portfolio);
    padding-right: var(--padding_portfolio);
}
#portfolio_title {
    font-size: var(--section_title);
    display: inline-block; /*fix gradient*/
    margin-bottom: 0.6em;
}
#portfolio_subtitle {
    margin: 0;
    font-size: var(--section_subtitle);
    margin-bottom: 3em;
}
.portfolio_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.portfolio_div a {
    color: black;
}
.portfolio_card {
    height: 100%;
    margin-right: 3em;
    /* padding: 1em;
    background-color: var(--white);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); */
}
.portfolio_img {
    border-radius: 9px;
    background-color: #CACDDD;
    height: 50%;
    width: 100%;
    transition: 0.7s box-shadow;
    outline: 2px transparent rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); 
}
.portfolio_img:hover{
    outline-offset: 5px;
    outline: 2px solid black;
    /* box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); */
}
  

@media screen and (min-width: 1550px) { /*greater than 1149 wide screen*/
    .portfolio {
        padding: 0 11% 15% 11%; /*top right bottom left*/
    }
}
@media screen and (max-width: 900px) { /*less than 1190*/
    .portfolio {
        padding: 0 10% 10% 1%; /*top right bottom left*/
    }
    .portfolio_div {
        flex-direction: column;
        justify-content: center;
    }
    .portfolio_card {
        align-self: center;
        margin: 0 15vw 3em 15vw;
    }
    .portfolio_img {
        width: 100%;
        height: 30%;
    }
    #portfolio_card_title,
    #portfolio_card_text {
        text-align: center;
    }
}