@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #fff;
    --black: #111;
    --lightgrey: #c7c7c7;
    --grey: #b3b3b3;
    --outlinegrey: #F2F4F6;
    --darkdarkgrey: #4C4C4C;
    --bg_grey: #F0F2F5;
    --accent_blue: #524EFF;
    --accent_purple: #8366CD;
    --gradient_pink: #C24FAC;
    --gradient_blue: #427CEE;
    --gradient_purple: #630DB9;
    
    --menu_logo: 1.3em;
    --menu_buttons: 1em;

    --home_title: 3.2em;
    --about_skilltag: 0.9em;
    --about_ariel_title: 1.8em;
    --contact_socialbar: 2.3em;
    --contact_text: 1.5em;

    --section_title: 2.7em;
    --section_subtitle: 1.3em;
    --body_text: 1em;
    --button_text: 1.15em;

    --marginleft_about: 11vw;
    --marginright_about: 10vw;
}

* {
    font-family: 'Mulish';
    scroll-behavior: smooth;
    box-sizing: border-box;
}
section {
    position: relative;
}
a {
    text-decoration: none;
}

/* Headings */
h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    display: inline-block;
}
h2 {
    font-weight: 700; /*bold*/
    font-size: var(--section_subtitle);
}
h3 {
    font-weight: 700; /*Button bold*/
}
h4 {
    font-weight: 600; /*Medium*/
    font-style: italic;
    font-size: var(--body_text);
}
h5 {
    font-weight: 300; /*light*/
}
p {
    font-weight: 400; /*regular*/
    font-size: var(--body_text);
}

